In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import seaborn as sns
import matplotlib.pyplot as plt
import pandas_datareader as pdr
import datetime
import os
import csv

def read_tickers_from_folder(folder_path):
    # Liste der Dateinamen im Ordner
    file_names = os.listdir(folder_path)

    # Filtere nur CSV-Dateien
    csv_files = [file for file in file_names if file.endswith('.csv')]

    # Liste, um die eingelesenen DataFrames zu speichern
    dataframes = []

    # Lese jede CSV-Datei und füge sie zur Liste der DataFrames hinzu
    for csv_file in csv_files:
        file_path = os.path.join(folder_path, csv_file)
        df = pd.read_csv(file_path, header=None, names=['Ticker'])
        dataframes.append(df)

    # Kombiniere alle DataFrames in einem einzigen DataFrame
    combined_df = pd.concat(dataframes, ignore_index=True)

    return combined_df

# Lese alle CSV-Dateien im Ordner 'Tickers' und erstelle ein DataFrame
folder_path = 'Tickers'
all_tickers_df = read_tickers_from_folder(folder_path)

# Zeige das kombinierte DataFrame

print(all_tickers_df)

     Ticker
0       A2M
1       ABC
2       ABP
3       AGL
4       AIA
...     ...
1172      X
1173    XPO
1174    XRX
1175   YETI
1176     ZD

[1177 rows x 1 columns]

In [2]:
def download_data(ticker):
    data = yf.download(ticker, start="1900-01-01", end="2023-04-06", progress=False)
    return data

def SaveStockData2CSV(df, folder='Data', filename='AllStockDataDownload.csv'):
    # Überprüfe, ob der Ordner existiert. Wenn nicht, erstelle den Ordner.
    if not os.path.exists(folder):
        os.makedirs(folder)

    # Speichere das DataFrame als CSV-Datei im Ordner "Data"
    file_path = os.path.join(folder, filename)
    df.to_csv(file_path, index=True)

all = pd.DataFrame()
data = pd.DataFrame()

all_tickers = all_tickers_df['Ticker'].tolist()
i = 0
for ticker in all_tickers:
    data = download_data(ticker)
    data['ticker'] = ticker
    all = pd.concat([all,data])
    i=i+1
    if (i%10 == 0):
        print(i)
print(all)

SaveStockData2CSV(all)

1 Failed download:
- A2M: No timezone found, symbol may be delisted

1 Failed download:
- ABP: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.

1 Failed download:
- AKE: No timezone found, symbol may be delisted
10

1 Failed download:
- ANN: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.

1 Failed download:
- SQ2: No timezone found, symbol may be delisted
20

1 Failed download:
- BKL: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.
30

1 Failed download:
- BKW: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.

1 Failed download:
- BRG: No timezone found, symbol may be delisted
40

1 Failed download:
- CCP: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.

1 Failed download:
- CCX: No timezone found, symbol may be delisted

1 Failed download:
- CHC: No data found for this date range, symbol may be delisted
50

1 Failed download:
- COH: No data found for this date range, symbol may be delisted

1 Failed download:
- CRN: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.
60

1 Failed download:
- CXO: No timezone found, symbol may be delisted

1 Failed download:
- DEG: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.
70
80

1 Failed download:
- GNC: No timezone found, symbol may be delisted

1 Failed download:
- HDN: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.

1 Failed download:
- HLS: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.
90
100

1 Failed download:
- IRE: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.

1 Failed download:
- IVC: No timezone found, symbol may be delisted

1 Failed download:
- JBH: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.
110

1 Failed download:
- MP1: No timezone found, symbol may be delisted

1 Failed download:
- MPL: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.

1 Failed download:
- MTS: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.
120

1 Failed download:
- NHF: No timezone found, symbol may be delisted
130
140
150

1 Failed download:
- RWC: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.

1 Failed download:
- S32: No timezone found, symbol may be delisted
160

1 Failed download:
- SGM: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.
170

1 Failed download:
- STO: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.

1 Failed download:
- TCL: No timezone found, symbol may be delisted

1 Failed download:
- TLC: No timezone found, symbol may be delisted
180

1 Failed download:
- TNE: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.

1 Failed download:
- UWL: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.

1 Failed download:
- VUK: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.

1 Failed download:
- WBC: No timezone found, symbol may be delisted
190
200
210
220
230
240

1 Failed download:
- AENA: No timezone found, symbol may be delisted

1 Failed download:
- MTS: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.
250
260

1 Failed download:
- NTGY: No timezone found, symbol may be delisted

1 Failed download:
- ROVI: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.
270

1 Failed download:
- SGRE: No timezone found, symbol may be delisted
280
290
300
310
320
330

1 Failed download:
- BRK.B: No timezone found, symbol may be delisted
340
350

1 Failed download:
- BF.B: 1d data not available for startTime=-2208971040 and endTime=1680753600. Only 100 years worth of day granularity data are allowed to be fetched per request.
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990
1000
1010
1020
1030
1040
1050
1060
1070
1080
1090
1100
1110
1120
1130
1140
1150
1160
1170
                 Open       High        Low      Close  Adj Close      Volume  \
Date
1995-04-04   2.937500   2.968750   2.812500   2.953125   2.268681  40387200.0
1995-04-05   2.906250   2.968750   2.843750   2.843750   2.184655  12236800.0
1995-04-06   2.843750   2.937500   2.843750   2.890625   2.220667   3776000.0
1995-04-07   2.906250   2.906250   2.843750   2.843750   2.184655   1920800.0
1995-04-10   2.843750   2.906250   2.843750   2.875000   2.208663   2047200.0
...               ...        ...        ...        ...        ...         ...
2023-03-30  76.160004  76.360001  74.790001  75.830002  75.830002    191800.0
2023-03-31  76.500000  78.349998  76.190002  78.050003  78.050003    293900.0
2023-04-03  77.720001  78.239998  76.889999  77.800003  77.800003    283300.0
2023-04-04  77.760002  78.419998  75.779999  76.510002  76.510002    188100.0
2023-04-05  76.050003  76.519997  75.309998  75.809998  75.809998    274800.0

           ticker
Date
1995-04-04    ABC
1995-04-05    ABC
1995-04-06    ABC
1995-04-07    ABC
1995-04-10    ABC
...           ...
2023-03-30     ZD
2023-03-31     ZD
2023-04-03     ZD
2023-04-04     ZD
2023-04-05     ZD

[7714952 rows x 7 columns]

In [3]:
all

,Open,High,Low,Close,Adj Close,Volume,ticker
Date,,,,,,,
1995-04-04,2.937500,2.968750,2.812500,2.953125,2.268681,40387200.0,ABC
1995-04-05,2.906250,2.968750,2.843750,2.843750,2.184655,12236800.0,ABC
1995-04-06,2.843750,2.937500,2.843750,2.890625,2.220667,3776000.0,ABC
1995-04-07,2.906250,2.906250,2.843750,2.843750,2.184655,1920800.0,ABC
1995-04-10,2.843750,2.906250,2.843750,2.875000,2.208663,2047200.0,ABC
...,...,...,...,...,...,...,...
2023-03-30,76.160004,76.360001,74.790001,75.830002,75.830002,191800.0,ZD
2023-03-31,76.500000,78.349998,76.190002,78.050003,78.050003,293900.0,ZD
2023-04-03,77.720001,78.239998,76.889999,77.800003,77.800003,283300.0,ZD
2023-04-04,77.760002,78.419998,75.779999,76.510002,76.510002,188100.0,ZD
2023-04-05,76.050003,76.519997,75.309998,75.809998,75.809998,274800.0,ZD

In [4]:
all.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7714952 entries, 1995-04-04 to 2023-04-05
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   Open       float64
 1   High       float64
 2   Low        float64
 3   Close      float64
 4   Adj Close  float64
 5   Volume     float64
 6   ticker     object
dtypes: float64(6), object(1)
memory usage: 470.9+ MB